.v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > td,
.v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > th,
.v-table .v-table__wrapper > table > thead > tr:last-child > th {
    border-bottom: thin solid rgba(var(--v-border-color)) !important;
}
.v-table > .v-table__wrapper > table > tbody > tr > td,
.v-table > .v-table__wrapper > table > tbody > tr > th,
.v-table > .v-table__wrapper > table > thead > tr > td,
.v-table > .v-table__wrapper > table > thead > tr > th,
.v-table > .v-table__wrapper > table > tfoot > tr > td,
.v-table > .v-table__wrapper > table > tfoot > tr > th {
    padding: 0 5px !important;
}
.v-data-table {
    .v-data-table__td:first-of-type {
        padding-left: 10px !important;
    }
    .v-data-table__td:last-of-type {
        padding-right: 10px !important;
    }
    th.v-data-table__th {
        font-size:12px;
        color: rgba(var(--v-theme-on-surface), var(--v-medium-emphasis-opacity));
    }
    td.v-data-table__td {
        font-size: 11px;
        // text-wrap: nowrap;

        .v-btn--icon.v-btn--density-default {
            width: 25px;
            height: 25px;
        }
    }
    .v-data-table-footer {
        padding: 15px 8px;
    }
    .v-data-table-header__sort-badge {
        background-color:rgb(var(--v-theme-borderColor)) !important;
    }
    .tdhead {
        font-size:12px;
    }
}
@media screen and (max-width:767px) {
    .v-data-table-footer{
        justify-content: center;
    }
}